
<div class = 'container'>

		<h1>Targeting Paris Climate Convention in the scope of COVID-19</h1>

	<div class = 'styledimg'>
	<p> This app predicts the Carbon dioxide emissions of different European countries, taking into consideration the influence of COVID-19 pandemic. The predictions are then compared and analyzed to check if the individual countries are in accordance with the <a class="parisLink" href="https://ec.europa.eu/clima/policies/international/negotiations/paris_en">Paris Agreement</a>.
	</p>
	</div>
</div>

