<table>
	<tr>
		<td>
			<mat-card>
				<img class="dp" src="assets/SAYANTA.jpeg">
				<div class = "dptext">
					<h3>Sayanta Roychowdhury</h3>
					<p>Studying MS in Communications Engineering</p>
					<p>E-mail: sayanta.roychowdhury@tum.de</p>
				</div>
			</mat-card>
		</td>
		<td>
			<mat-card>
				<img class="dp" src="assets/Samanti.jpg">
				<div class = "dptext">
				<h3>Samanti Das</h3>
				<p>Studying MS in Communications Engineering</p>
				<p>E-mail: samanti.das@tum.de</p>
				</div>
			</mat-card>
		</td>
	</tr>
	<tr>
		<td>
			<mat-card>
				<img class="dpAna" src="assets/Ana.jpg">
				<div class = "dptext">
					<h3>Ana Lomashvili</h3>
					<p>Studying MS in Communications Engineering</p>
					<p>E-mail: ana.lomashvili@tum.de</p>
				</div>
			</mat-card>
		</td>
		<td>
			<mat-card>
				<img class="dp2" src="assets/Premankur.jpeg">
				<div class = "dptext">
					<h3>Premankur Banerjee</h3>
					<p>Studying MS in Communications Engineering</p>
					<p>E-mail: ge46paq@mytum.de</p>
				</div>
			</mat-card>
		</td>
	</tr>
	<tr>
		<td>
			<mat-card>
				<img class="dp1" src="assets/Rishav.jpg">
				<div class = "dptext">
					<h3>Rishav Mukherjee</h3>
					<p>Studying MS in Communications Engineering</p>
					<p>E-mail: rishav.mukherjee@tum.de</p>
				</div>
			</mat-card>
		</td>
		<td>
			<mat-card>
				<img class="dp1" src="assets/Anshu.JPG">
				<div class = "dptext">
					<h3>Anshu Mathur</h3>
					<p>Studying MS in Communications Engineering</p>
					<p>E-mail: anshu.mathur@tum.de</p>
				</div>
			</mat-card>
		</td>
	</tr>
	<tr>
		<td>
			<mat-card>
				<img class="dpIsa" src="assets/Isabella.jpg">
				<div class = "dptext">
					<h3>Isabella Dick</h3>
					<p>Studying MS in Elektro- und Informationstechnik</p>
					<p>E-mail: isabella.dick@tum.de</p>
				</div>
			</mat-card>
		<td>
	</tr>
</table>
